h1,h2{
    color: rgb(58, 226, 43);
    font-size:50px ;
    text-transform: uppercase;
    text-decoration:underline;
    font-style: oblique;
    backface-visibility: calc();
  
   
}
.d{
    color: rgb(45, 0, 128);

}
.a{
    color: red;
}
.b{
    color: rgb(16, 12, 240);
}
.c{
    color: darkcyan;
}

#header{
    color: cornflowerblue;
    font-size: 70px;

}