/*child selector*/
div>p{
    color:rgb(255, 165, 127);
}

/*descendant selector*/
div p{
    color:rgb(163, 127, 255);
}

/*adjacent selector*/

div + p{
    color:blueviolet;
}

/*general selector*/

div ~ p{
    color:rgb(226, 119, 43);
}

/* POSITION  such as top bottom right left*/
.static{
   position: relative;
    left:-30px;
    top:0%;
    background-color:rgb(245, 33, 33);
}

